* {
  margin: 0 !important;
  padding: 0 !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.pr-3 {
  padding-right: 1.5rem !important;
}

.margin_right {
  margin-right: 1rem !important;
}

.App {
  max-height: 100vh;
  overflow: hidden;
}
